@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent; /*  Optional: just make scrollbar invisible */
}
:root {
    --gradient: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
    --yellow:  #ffc719;
    --red: #bf033b;
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(--dark-background-color-alt);
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
    }
}

body {
    /* Light Theme */
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;    
    --font-family: 'Open Sans', sans-serif;

    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    min-width: 350px;
    height: auto;
    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
    align-items: center;
    overflow-x: hidden;
    transition: background 0.2s linear;
    justify-content: center;
    text-align: center;
}

body.theme-dark {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--red)), to(var(--yellow)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


