

#navbar {
position: absolute;
right: 10px;
top: 12px;
height: auto;
width: 100px;
padding: 5px;
font-size: 15px;
}
.bubble{
    display: inline;
    border-radius: 50%;
    border: 2px solid var(--red);
    padding: 10px;
    text-align: center;
    box-shadow: 1px 4px 8px (--yellow); 
}
a{text-decoration: none;}
a:hover{text-decoration: none;} a:visited{text-decoration: none;}

#module1 {
    max-width: 700px;
    margin: 30px auto;
    position: relative;
    text-align: center;
    padding: 4px;
    border: 2px solid #bf033b;
     background: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    box-shadow:rgba(100, 78, 10, .45) 2px 4px 8px;
    display: none;
}

textarea:focus, input:focus{
    outline: none;
}
#tbl{
    margin: 10px auto;
    border: 2px solid var(--red);
    width: 80%;
    max-width: 680px;
    height: auto;
}
tr, td {
    margin: 5px auto;
    border: 1px solid var(--yellow);
    font-size: 1em;
}
#input-box1{
    display:inline;
    margin: 10px auto;
    padding: 10px;
    border-radius: 50px;
    width: 80%;
    height: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--yellow);
    box-shadow:rgba(100, 78, 10, .55) 2px 4px 8px;
    text-align: center;
    justify-content: center;
}
#fn{
    font-size: 1.5rem;
}
#note{
    font-size: 1em;
    width: 60%;
    border-radius: 50px;
    text-align:center;
    border: 2px solid var(--red);
}